/* Resets Below */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
/* Resets Above */
.hero-image {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    display: flex;
    padding: 40px;
}
.her-text {
    font-size: 15px;
    margin: 0px;
    text-align: center;
    background-color: rgb(158, 91, 221);
}
.basic-gal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    border: 3px solid rgb(157, 119, 255);
    padding: 25px;
}
