div {
    font-family: "Sunshiney", cursive;
    background-color: rgb(248, 245, 227);
    text-align: center;
}
#images{
    width:75%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0px;
}
.button{
    color: rgb(232, 109, 90);
    background-color: white;
    border-radius: 20%;
    padding: 1%;
}
.logo {
    color: rgb(232, 109, 90);
    background-color: white;
    border-radius: 20%;
    padding: 1%;
}
.letters {
    color: rgb(232, 109, 90);
     background-color: white;
    border-radius: 20%;
    padding: 1%;
}