#p1 {
    color:rgb(104, 130, 111);
}
#p2-s1{
    color:#ef79ef;
}
#p2-s2{
    color:#ef79ef;
}
#p3-s1{
    color:rgb(239, 152, 152);
}
#p3-s2{
    color:blueviolet;
}
#p3-s3{
    color:#ef79ef;
}
#p4{
    background-color:aquamarine;
}