/* Resets Below */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
/* Resets Above */
header {
    background-color: rgb(152, 203, 145);
}
header nav {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
}
nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#hero {
    background-image: url("../images/urban-hi-res-2nse.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 2%;
}
#hero a {
    text-decoration: none;
    color: white;
}
#gal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 15px; 
    border: 3px solid rgb(135, 194, 253);
    padding: 25px;
}
h2 {
    text-align: center;
}
#c1 {
    text-align: center;
}
#c2 {
    text-align: center;
}
#c3 {
    text-align: center;
    padding-bottom: 3%;
}
.btn {
    text-decoration: none;
    color: rgb(139, 172, 135);
    border: solid;
    padding: 1%;
}