h1 { 
    color:rgb(153, 213, 252);
    background-color: lightpink;
}
#P1 {
    color: lightgreen;
    background-color: rgb(0, 0, 0); 
    padding: 20px;
}
span {
    font-weight: 700;
}
#s1 {
    color:yellow
}

