/* Resets Below */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 80%;
    object-fit: cover;
    padding-left: 20%;
    align-items: center;
}
/* Resets Above */
.container{
    background-color: rgb(195, 195, 195);
    width: 90%;
    max-width: 900px; 
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
p {
    text-align: center;
}
.bttn-con {
    display: flex;
    gap: 30px;
    padding-left: 33%;
    justify-items: center;
}
.bttn {
    background-color: rgb(83, 130, 165);
    color: white;
    padding: 0px;
    max-width: 55%;
}
.heading {
    padding-left: 30%;
}
.hh1{    
    text-align: center;
}