
/* Resets Below */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
/* Resets Above */
.single-column {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
}
.basic-gal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    border: 3px solid rgb(157, 119, 255);
    padding: 25px;
}
.cropped-gal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 25px; 
    border: 3px solid lightgreen;
    padding: 25px; 
}
.cropped-gal img {
    height: 100%;
}