* {
    box-sizing: border-box;
}

img {
    height: 100px;
    width: 100px;
}

h2{
    text-align: center;
}

h6 {
    text-align: center;
}

.prep {
    display: flex;
    justify-content: center;
    gap: 10%;
}
.single-column {
    
}